/* stylesheet for Josie's Biography Page */
/* bio.css */

body {
    
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1 {
    font-size: 32pt;
    text-align: center;
}

p {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    background-color: white;
    position: relative;
    text-align: left;
    color: black;
    font-size: 12pt;
}

a {
    text-decoration: none;
}

.button{ 
  color: #404040;
  font-size: 14px;
  text-align: left;
  border: #404040;
  border-style: solid;
  border-width: 2px;
  border-radius: 12px;
  padding: 8px 10px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #f0f0f0;
}
