/* stylesheet for Josie's Biography Page */
/* bio.css */

body {
    
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1 {
    font-size: 32pt;
    text-align: center;
}

p {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    background-color: white;
    position: relative;
    text-align: left;
    color: black;
    font-size: 12pt;
}