/* stylesheet for Josie's Resume Page */
/* resume.css */

body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    background-color: white;
    position: relative;
    text-align: left;
    color: black;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12pt;
}

h1 {
    font-size: 32pt;
    padding-top: 30px;
    text-align: center;
}

h2 {
    font-size: 11pt;
    text-align: center;
}

a {
    text-decoration: none;
}

.button{ 
  color: #404040;
  font-size: 14px;
  text-align: left;
  border: #404040;
  border-style: solid;
  border-width: 2px;
  border-radius: 12px;
  padding: 8px 10px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #ff9999;
  color: #404040;
}

.section {
    font-size: 20pt;
    font-weight: bold;
}

.tufts {
    margin:10px;
}

.title {
    font-size: 14pt;
}

.tufts-title {
    font-size: 15pt;
}

.date {
    float: right;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}
