<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Josie Barth's Homepage{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="author" content="Josie Barth">
    <meta name="description" content="{% block description %}Josie Barth's personal website.{% endblock %}">
    <meta name="keywords" content="{% block keywords %}josie barth, josephine barth, programming, computer science, compsci, website{% endblock %}">
    <meta name="language" content="English">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>
